* {
  outline: 2px red solid;
}

#page-container {
  display: flex;
  justify-content: center;
}
#app-container {
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  width: 50%;
  background-color: #00afb9;
}

h1 {
  color: #FFFFFC;
}